MYSQL_DATABASE=delivery_dev
DELIVERY_DB_USERNAME=delivery_app
DELIVERY_DB_PASSWORD=change-this-local-password
IDENTITY_DB_USERNAME=identity_app
IDENTITY_DB_PASSWORD=change-this-identity-password
CATALOG_DB_USERNAME=catalog_app
CATALOG_DB_PASSWORD=change-this-catalog-password
CART_DB_USERNAME=cart_app
CART_DB_PASSWORD=change-this-cart-password
ORDER_DB_USERNAME=order_app
ORDER_DB_PASSWORD=change-this-order-password
MEDIA_DB_USERNAME=media_app
MEDIA_DB_PASSWORD=change-this-media-password
MYSQL_ROOT_PASSWORD=change-this-root-password
JWT_SECRET=change-this-jwt-secret-with-at-least-32-bytes
JWT_EXPIRATION_SECONDS=7200
INTERNAL_SERVICE_TOKEN=change-this-internal-service-token
FRONTEND_PORT=5173
BACKEND_PORT=8080
MYSQL_PORT=3306
